<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>790432947868-5u5svat5ja06kpm1f6753div5l6to2sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.790432947868-5u5svat5ja06kpm1f6753div5l6to2sl</string>
	<key>API_KEY</key>
	<string>AIzaSyAbEoH_Njt1JYJ9HI95zRRiluZzxlyCHXk</string>
	<key>GCM_SENDER_ID</key>
	<string>790432947868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roger-music</string>
	<key>PROJECT_ID</key>
	<string>music-7acb9</string>
	<key>STORAGE_BUCKET</key>
	<string>music-7acb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:790432947868:ios:8df574d9653707eafed759</string>
</dict>
</plist>